@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

body {
	font-size: 16px;
	box-sizing: border-box;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	color: #fff;
}

@font-face {
	font-family: Beauty;
	src: url("/fonts/Beauty.ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Storytime;
	src: url("/fonts/Storytime.ttf");
	font-style: normal;
	font-weight: 400;
}
